@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
  overflow-x: hidden;
}
.App {
  text-align: center;
}
/* button */
.spread-distance-box-shadow {
  box-shadow: 0 0 10px 5px;
  border: none;
  border-radius: 50px;
}
.box {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 10px;
  background-color: #ced7ef;
  color: rgba(128, 128, 128, 0.253);
  vertical-align: middle;
}
.size{
  font-size: 11px;
  text-transform: uppercase;
}


/* dashboard */
.font{
  font-family: 'Montserrat', sans-serif;
}
.icon{
  color:white;
  background-color: red;
  padding:5px;
  font-size:25px;
  border-radius:50px;
  margin-right:10px; 
  padding-right:5px;
}
.grad {
  background-image: linear-gradient(to right, #C03221 , #c03121de,#C03221);
  /* background-color: #C03221; */
}
.avatar {
  margin-right: 12%;
	width: 80px;
	height: 80px;
  border-radius: 50px; 
  /* margin: 10px; */
}
.flex-container {
  display: flex;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.ic{
	display: inline-block;
	width: 20px;	
	height: 20px;	
	font-size: 20px;
	
	vertical-align: top;
	margin-top: calc((1.7 * 20px - 20px)/ 2);	
	margin-right: 30px;		
	position: relative;
}
.ic.outline{
  outline: solid 1px blue;
}


.ic.circle{
	border-radius: 100%;
	background-color: #FF5252;
}


.d-table {
  display:table;
}

.d-table-cell {
  display:table-cell;
}

.w-100 {
  width: 100%;
}

.tar {
  text-align: right;
}

/* login */
.inpFoc{
  border: 1px solid #d8e2dc;
  width: 70%;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;  
}
.inpFoc:focus {
  border: 1px solid #6b705c;
}
.link_style{
  color: brown;
  text-decoration: none;
}
.link_style:hover{
  text-decoration: underline;
  color: brown;
}
.backgroundImg{
  background-image: url("./images/skylines.png"),
    url("./images/backLogin.png")
  ;
  background-size: cover;
  background-position: right 50% bottom 0%;
}
.secback{
  background-image: url("./images/graphic.png");
  background-size: cover;
 
 
  /* background: linear-gradient(217deg, rgba(167, 43, 43, 0.8), rgba(207, 50, 50, 0) 70.71%),
            linear-gradient(127deg, rgba(179, 92, 34, 0.8), rgba(243, 67, 36, 0) 70.71%),
            linear-gradient(336deg, rgba(100, 194, 115, 0.8), rgba(0, 255, 85, 0) 70.71%); */

}


@media only screen and (max-width: 650px) {
  .mar{
    padding-top: 10%;
  }
  .sizes{
    margin-top: 5%;
    font-size: 13px;
  }
  .hid{
    margin-left: 20%;
  }

}
@media only screen and (max-width: 800px) {
  .mar{
    padding-top: 20%;
  }
  .sizes{
    margin-top: 5%;
    font-size: 13px;
  }
  .hid{
    margin-left: 20%;
  }
}
@media only screen and (max-width: 1024px) {
  .size{
    font-size: 9px;
  }
  .size1{
    font-size: 13px;
    padding-left: 5%;
  }
  .sizes{
    font-size: 13px;
  }
}